<ion-content>
  <div id="head-container">
    <ion-buttons>
      <ion-back-button
        defaultHref="home"
        slot="start"
        mode="ios"
        icon="arrow-back"
      ></ion-back-button>
      <ion-label color="primary">
        <b>Atur Profil</b>
      </ion-label>
    </ion-buttons>
  </div>
  <div id="body-container" class="ion-padding">
    <ion-list mode="md">
      <ion-item lines="none" *ngIf="profile.img == null; else prof;">
        <ion-avatar slot="start">
          <img src="/assets/img/def_profile.png" alt="profil" />
        </ion-avatar>
        <ion-button fill="clear" (click)="f.click($event)">
          <ion-icon name="image-outline" slot="start"></ion-icon>
          <b>Tambah Foto Profil</b>
        </ion-button>
      </ion-item>

      <ng-template #prof>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img [src]="gn._base+'images/users/'+profile.img" alt="profil" />
          </ion-avatar>
          <ion-button fill="outline" (click)="f.click($event)" mode="ios">
            <ion-icon name="image-outline" slot="start"></ion-icon>
            <b>Ubah Foto Profil</b>
          </ion-button>
          <ion-button fill="solid" (click)="hapus()" color="danger" mode="ios">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ng-template>
      <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="profile.name"
          maxlength="50"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Whatsapp</ion-label>
        <ion-input
          type="tel"
          [(ngModel)]="profile.tel"
          maxlength="30"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Instagram</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="profile.ig"
          maxlength="30"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="profile.em"
          maxlength="65"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Bio</ion-label>
        <ion-textarea
          rows="4"
          [(ngModel)]="profile.bio"
          maxlength="150"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tempat tinggal saat ini</ion-label>
        <ion-textarea
          rows="2"
          [(ngModel)]="profile.address"
          maxlength="50"
        ></ion-textarea>
      </ion-item>

      <input
        name="img"
        class="ion-hide"
        #f
        type="file"
        (change)="sImage($event)"
        accept="image/*"
      />
    </ion-list>
  </div>

  <ion-button expand="block" class="ion-margin" (click)="simpan()">
    Simpan Perubahan
  </ion-button>
</ion-content>
