<ion-list lines="none">
  <ion-label>
    Penjadwalan
  </ion-label>
  <ion-item button (click)="pagesNavigate('schedule/0')">
    <ion-icon name="paper-plane-outline"></ion-icon>
    Mata Kuliah
  </ion-item>
  <ion-item button (click)="pagesNavigate('schedule/1')">
    <ion-icon name="document-attach-outline"></ion-icon>
    Tugas
  </ion-item>
  <ion-item button (click)="pagesNavigate('schedule/2')">
    <ion-icon name="calendar-number-outline"></ion-icon>
    Acara Penting
  </ion-item>
</ion-list>
