ion-header{
    background-color: #fff;
    ion-toolbar{
      padding: 10px 0px 6px 0px;
      background-color: #fff;
      ion-buttons{
        ion-back-button{
            margin-right: 15px;
            font-size: 12px;
        }
        ion-label{
            font-size: 18px;
        }
      }
    }
}


iframe{
  overflow:hidden;
}