<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons>
      <ion-back-button defaultHref="forum" slot="start" mode="ios" icon="arrow-back" color="primary"></ion-back-button>
      <ion-label color="primary">
        <b>Edit Postingan</b>
      </ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="logForm()" ngNativeValidate>
    <ion-item lines="none" class="ion-no-padding">
      <ion-textarea placeholder="Tulis Sesuatu..." minlength="2" maxlength="10000" autoGrow="true" [(ngModel)]="todo.text" name="text" required></ion-textarea>
    </ion-item>

    <div id="btn">
      <ion-button expand="block" mode="ios" type="submit" class="ion-margin-top">Edit</ion-button>
    </div>
  </form>
</ion-content>
