<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons>
      <ion-button (click)="gn.pagesNavigate('home')">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      <ion-label color="primary">
        <b>UIN SGD</b>
      </ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section id="list">
    <ion-item class="container" lines="none" button (click)="openUrl('https://uinsgd.ac.id')">
      <ion-label>
        <p class="subtitle">
          Website Kampus
        </p>
        <p class="title">
          <b>UIN Bandung</b>
        </p>
        <p class="url">
          https://uinsgd.ac.id/
        </p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openUrl('https://eknows.uinsgd.ac.id')" class="container" lines="none" button>
      <ion-label>
        <p class="subtitle">
          Website Pembelajaran
        </p>
        <p class="title">
          <b>E-Knows</b>
        </p>
        <p class="url">
          https://eknows.uinsgd.ac.id/
        </p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openUrl('https://opac.uinsgd.ac.id')" class="container" lines="none" button>
      <ion-label>
        <p class="subtitle">
          Website Perpustakaan
        </p>
        <p class="title">
          <b>Opac</b>
        </p>
        <p class="url">
          https://opac.uinsgd.ac.id/
        </p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openUrl('https://salam.uinsgd.ac.id')" class="container" lines="none" button>
      <ion-label>
        <p class="subtitle">
          Portal Akademik
        </p>
        <p class="title">
          <b>Salam</b>
        </p>
        <p class="url">
          https://salam.uinsgd.ac.id/
        </p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openUrl('https://sapa.uinsgd.ac.id/Login')" class="container" lines="none" button>
      <ion-label>
        <p class="subtitle">
          Website Kampus
        </p>
        <p class="title">
          <b>Sapa UINSGD</b>
        </p>
        <p class="url">
          https://sapa.uinsgd.ac.id/Login
        </p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openUrl('https://www.instagram.com/uinsgd_official/')" class="container" lines="none" button>
      <ion-label>
        <p class="subtitle">
          Sosial Media
        </p>
        <p class="title">
          <b>Instagram</b>
        </p>
        <p class="url">
          https://www.instagram.com/uinsgd_official/
        </p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openUrl('https://facebook.com/UIN-SGD-Bandung-189067647828897')" class="container" lines="none" button>
      <ion-label>
        <p class="subtitle">
          Sosial Media
        </p>
        <p class="title">
          <b>Facebook</b>
        </p>
        <p class="url">
          https://facebook.com/UIN-SGD-Bandung-189067647828897/
        </p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openUrl('https://www.youtube.com/channel/UCEeGdjh7dfuAJUQAQCq1ZQA')" class="container" lines="none" button>
      <ion-label>
        <p class="subtitle">
          Sosial Media
        </p>
        <p class="title">
          <b>Channel Youtube</b>
        </p>
        <p class="url">
          https://www.youtube.com/channel/UCEeGdjh7dfuAJUQAQCq1ZQA
        </p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openUrl('https://beasiswa.uinsgd.ac.id/index.php/layanan-informasi')" class="container" lines="none" button>
      <ion-label>
        <p class="subtitle">
          Website Kampus
        </p>
        <p class="title">
          <b>Beasiswa UIN SGD</b>
        </p>
        <p class="url">
          https://beasiswa.uinsgd.ac.id/index.php/layanan-informasi/
        </p>
      </ion-label>
    </ion-item>
  </section>
</ion-content>
